
<mat-card class="_header"
     fxLayout="column"

>
  <div class="user">
    <img src="assets/leo.jpeg" alt="">
    <h3 class="name">Leo Avramovic</h3>
    <p class="post">developer</p>
  </div>

  <nav class="navbar">
    <ul>
      <li><a  routerLink="/home" routerLinkActive="active">home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">about</a></li>
      <li><a routerLink="/service" routerLinkActive="active">service</a></li>
      <li><a routerLink="/education" routerLinkActive="active">education</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">contact</a></li>
    </ul>
  </nav>
</mat-card>
<div class="hamburger">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

</div>

