<section class="home" id="home">

  <h3>hi there...</h3>
  <h3 class="name">my name is <span>Leo Avramovic</span></h3>
  <h3 class="post">i am a <span>developer</span></h3>
  <a href="#">
    <button class="btn">hire me</button>
  </a>
  <div class="share">
    <a href="{{githubUrl}}" class="fab fa-github"></a>
    <a href="{{linkedinUrl}}" class="fab fa-linkedin"></a>
    <a href="{{pluralsight}}">
      <img src="assets/34775011-89bb46c2-f609-11e7-8bd1-d7a70d2277fd.jpeg"
           class="pluralsightLogo" alt="pluralsight_logo">
    </a>
  </div>

</section>
