* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 13px;
  font-family: Roboto, serif;
  font-weight: 150;
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: 8px;
  }

}
